/* ================= LIST ITEM ================= */

.listItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(90deg, #FFF 0%, #F2EAEA 70%, #FAF07D 100%);
  border-radius: 10px;
  padding: 12px 14px 12px 20px;
  margin-bottom: 12px;

  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* Left green bar */
.listItem::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: #2ecc71;
  border-radius: 4px;
}

/* Hover */
.listItem:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Disable inner clicks */
.listItem * {
  pointer-events: none;
}

/* Text */
.listItem__title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
}

.listItem__sub {
  font-size: 12px;
  color: #222;
}

/* Arrow */
.listItem__right {
  font-size: 18px;
  color: #F79E9E;
  opacity: 0.8;
  transition: transform 0.2s ease;
}

.listItem:hover .listItem__right {
  transform: translateX(4px);
}


/* ================= NOTIFICATION ITEM ================= */

.notifItem {
  position: relative;
  display: flex;
  gap: 10px;

  background: linear-gradient(90deg, #FFF 0%, #F2EAEA 70%, #EF7878 100%);;
  border-radius: 10px;
  padding: 6px 8px 9px 13px;
  margin-bottom: 12px;

  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* Hover */
.notifItem:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Disable inner clicks */
.notifItem * {
  pointer-events: none;
}

/* Left bar */
.notifItem__bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: #0a808a;
  border-radius: 4px;
}

/* Content */
.notifItem__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.notifItem__title {
  font-weight: 600;
  font-size: 14px;
}

.notifItem__sub {
  font-size: 12px;
  color: #333;
}


/* ================= TODAY / SCHEDULE ITEM ================= */

.todayItem {
  background: #f1f6f6;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;

  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.todayItem:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.todayItem * {
  pointer-events: none;
}

.todayItem__date {
  font-size: 11px;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 4px;
}

.todayItem__title {
  font-size: 12px;
  font-weight: 800;
}

.todayItem__sub {
  font-size: 11px;
  opacity: 0.8;
}