.listItem {
  display: flex;
  justify-content: space-between;
  background: #f1f6f6;
  border-radius: 10px;
  padding: 10px;
}

.listItem__title {
  font-weight: 700;
  font-size: 12px;
}

.listItem__sub {
  font-size: 11px;
  opacity: 0.8;
}

.listItem__right {
  font-size: 16px;
  opacity: 0.6;
}

.notifItem {
  display: flex;
  gap: 10px;
  background: #f1f6f6;
  border-radius: 10px;
  padding: 10px;
}

.notifItem__bar {
  width: 5px;
  border-radius: 4px;
  background: #0a808a;
}

.notifItem__title {
  font-weight: 700;
  font-size: 12px;
}

.notifItem__sub {
  font-size: 11px;
  opacity: 0.8;
}

.todayItem {
  background: #f1f6f6;
  border-radius: 10px;
  padding: 10px;
}

.todayItem__date {
  font-size: 11px;
  font-weight: 700;
  opacity: 0.7;
  margin-bottom: 4px;
}

.todayItem__title {
  font-size: 12px;
  font-weight: 800;
}

.todayItem__sub {
  font-size: 11px;
  opacity: 0.8;
}
