.liveSessionDetailPage {
  flex: 1;
  min-height: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

/* Back button - above header box */
.liveSessionBackBtn {
  background: #0a808a;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 12px;
  cursor: pointer;
  font-weight: 600;
  color: white;
  align-self: flex-start;
  margin-bottom: 4px;
}

.liveSessionBackBtn:hover {
  background: #097a83;
}

/* Header box - fixed, does not scroll */
.liveSessionDetailHeaderBox {
  width: 100%;
  background: white;
  border-radius: 18px 18px 0 0;
  padding: 16px 24px;
}

/* Title */
.liveSessionTitle {
  font-size: 14px;
  font-weight: 800;
  color: #222;
  margin: 0;
}

/* Body box - scrolls */
.liveSessionDetailBodyBox {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  width: 100%;
  background: white;
  border-radius: 0 0 18px 18px;
  padding: 20px 24px;
}

/* video black box */
.liveSessionVideoBox {
  width: 72%;
  height: 280px;
  background: #111;
  border-radius: 6px;
  margin: 0 auto 18px auto;
}

/* bottom info row */
.liveSessionInfoRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 72%;
  margin: 0 auto;
}

/* left bottom text */
.liveSessionLeftInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoText {
  font-size: 12px;
  font-weight: 600;
  color: #222;
}

/* By section */
.byBox {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.byText {
  font-size: 11px;
  font-weight: 600;
  color: #222;
}

.byName {
  font-size: 11px;
  font-weight: 600;
  color: #222;
}

/* right date/time */
.liveSessionRightInfo {
  text-align: right;
}

.dateText {
  font-size: 11px;
  font-weight: 600;
  color: #222;
  text-align: center;
}

.timeText {
  font-size: 11px;
  font-weight: 600;
  color: #222;
  margin-top: 3px;
}
@media (max-width: 480px) {

  .liveSessionInfoRow {
    display: flex;
    flex-direction: column;   
    align-items: center;     
    justify-content: center;
    width: 100%;             
    margin: 0 auto;
    gap: 24px;               
    text-align: center;      
  }
  .liveSessionTitle{
    text-align: center;
  }
  .liveSessionVideoBox {
   width: 100%;
  height: 140px;
}
}

