.sessionCard {
  background: #0a808a;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  height: 130px;
  display: flex;
  flex-direction: column;
}

.sessionCard__img {
  width: 100%;
  height: 55px;
  object-fit: cover;
}

.sessionCard__body {
  padding: 8px 10px;
  font-size: 10px;
}

.sessionCard__subject {
  font-size: 11px;
  margin-bottom: 4px;
  font-weight: 800;
}

.sessionCard__text {
  opacity: 0.9;
  margin: 1px 0;
  font-size: 10px;
}
