.sessionCard {
  background: #0a808a;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  height: 170px;
  display: flex;
  flex-direction: column;
}

.sessionCard__img {
  width: 100%;
  height: 70px;
  object-fit: cover;
}

.sessionCard__body {
  padding: 8px 10px;
  font-size: 11px;
}

.sessionCard__subject {
  font-size: 13px;
  margin-bottom: 4px;
}

.sessionCard__text {
  opacity: 0.9;
  margin: 2px 0;
}
